
<div class="col-xs-offset-3 col-xs-6">
  <h2 class="text-center padded">Ajoutez un cocktail</h2>

    <%= simple_form_for(@cocktail, html: { multipart: true }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs padded">
        <%= f.input :name %>
      </div>

      <div class="form-inputs padded">
        <%= f.input :picture %>
      </div>

      <div class="form-action padded">
        <%= f.button :submit %>
      </div>
      <div class="padded pull-right">
        <%= link_to "Back to list", root_path, class: "btn btn-info" %>
      </div>
    <% end %>


</div>






